/**********************************************************************
 * Estilos del resumen del registro
 **********************************************************************/
.resumen {
  
  p {
    font-size: 1.2em;
    text-transform: uppercase;
  }

  .extras {
    float: left;
    width: 50%;
    padding: 30px;

    .orden {
      text-align: left;
      margin-bottom: 10px;

      input {
        margin: 10px 0 0 0;
      }
    }
  } // extras
  .total {
    float: right;
    width: 50%;
    padding: 30px;
  }

  input {
    display: block;
    margin: 0 auto;
  }

} // resumen

#lista-productos {
  background-color: #e1e1e1;
  padding: 20px;
  display: none;
}

#suma-total {
  text-align: center;
  font-size: 2em;
  color: $naranja;
  display: none;
}